name: Build and Release

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Publish EXE
      run: dotnet publish -c Release -r win-x64 -p:PublishSingleFile=true --self-contained false -o ./publish

    - name: Get Short SHA
      id: vars
      run: echo "sha_short=$($env:GITHUB_SHA.Substring(0, 7))" >> $env:GITHUB_OUTPUT

    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ steps.vars.outputs.sha_short }}
        name: Release ${{ steps.vars.outputs.sha_short }}
        files: ./publish/*.exe
        draft: false
        prerelease: false
        generate_release_notes: true
